*,
*::before,
*::after {
  margin: 0;
  padding: 0;
   -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;
      white-space: normal;
  word-break: normal;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
}

img,
picture,
video,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

sup {
  line-height:0;
  font-size:smaller;
  vertical-align:super
}
sub {
  line-height:0;
  font-size:smaller;
  vertical-align:sub
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
