.contacts {
  display: flex;
  justify-content: start;
  gap: 30px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;

  &__item:nth-child(2) .contacts__link {
    text-transform: lowercase;
    line-height: 34px;
    font-size: 24px;
    color: #26262b;
    opacity: 0.8;

    @media (max-width: 1255px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

     @media (max-width: 1255px) {
    }

    @media (max-width: 640px) {
    }
  }

  &__img-link svg {
    border-radius: 15px;

    @media (max-width: 480px) {
      width: 35px;
    }
  }

  &__link {
    margin-left: 15px;
    opacity: 0.8;
    letter-spacing: 0.5px;

     @media (max-width: 1255px) {
      font-size: 20px;
      line-height: 28px;
    }
    @media (max-width: 1024px) {
      display: none;
    }
   
  }

 @media (max-width: 1255px) {
      margin-left: 10px;
      gap: 10px;
    }

  @media (max-width: 1024px) {
    gap: 15px;
    margin-left: 20px;
  }

  @media (max-width: 640px) {
    margin-left: 10px;
  }

  @media (max-width: 480px) {
    gap: 5px;
    margin-left: 5px;
  }
}
