.form {
  display: flex;
  flex-direction: column;
  color: #000000;
  width: 100%;

  &__cont {
    background-image: url('../images/carnets-profesionale.jpg.webp');

    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    text-align: center;
    -moz-transform: unset;
    vertical-align: middle;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding-top: 87px;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      pointer-events: none;
      z-index: 0;
    }

    @media screen and (max-width: 1366px) {
      margin: 0 auto;
      width: 100%;
      background-size: cover;
    }

    @media screen and (max-width: 1024px) {
      width: 100vw;
      background-size: cover;
    }
  }
  &__title {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 400;
    grid-area: title;
    margin-bottom: 75px;
    letter-spacing: 1px;

    @media screen and (max-width: 1200px) {
      width: 490px;
      font-size: 38px;
      line-height: 1.23;
      margin-bottom: 45px;
    }

    @media screen and (max-width: 640px) {
      font-size: 30px;
      max-width: 520px;
      width: 100%;
      margin-bottom: 20px;
      line-height: 1.23;
    }
  }

  &__form {
    z-index: 1;
    width: 670px;
    padding: 60px 45px 70px 45px;
    background-color: #ffe100;
    margin: 0 auto;
    margin-bottom: 70px;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      'title title title'
      'label-name label-phone label-phone'
      'input-name input-phone button '
      'error-footer error-footer error-footer'
      'text text text';
    z-index: 1099;
    font-weight: 300;

    .label-name--foot {
      grid-area: label-name;
      justify-self: first baseline;
      align-self: self-end;
      margin-bottom: 8px;
      @media (max-width: 1024px) {
        align-self: start;
      }

      @media screen and (max-width: 960px) {
        font-size: 18px;
        line-height: 1.55;
      }

      @media screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 1.45;
      }
    }
    .input-name--foot {
      width: 189px;
      grid-area: input-name;

      @media screen and (max-width: 1200px) {
        width: 109px;
      }

      @media screen and (max-width: 960px) {
        width: 490px;
        height: 55px;
      }

      @media screen and (max-width: 640px) {
        max-width: 540px;
        width: 100%;
        height: 50px;
      }
    }
    .label-phone--foot {
      grid-area: label-phone;
      justify-self: first baseline;
      align-self: self-end;
      margin-bottom: 8px;
      @media screen and (max-width: 1024px) {
        align-self: start;
      }

      @media screen and (max-width: 960px) {
        font-size: 18px;
        line-height: 1.55;
      }

      @media screen and (max-width: 640px) {
        font-size: 16px;
        line-height: 1.45;
      }
    }
    .input-phone--foot {
      width: 217px;
      grid-area: input-phone;
      justify-self: start;

      @media screen and (max-width: 720px) {
        width: 540px;
        height: 50px;
      }

      @media screen and (max-width: 640px) {
        max-width: 540px;
        width: 100%;
        height: 50px;
      }
    }
    & button {
      grid-area: button;
      width: 223px;
      height: 56px;
      padding: 0 15px;
      background-color: #000000;
      color: #fff;
      border-radius: 15px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      box-sizing: border-box;
      margin-left: 15px;

      @media screen and (max-width: 1200px) {
        width: 230px;
        margin-left: 0;
      }

      @media screen and (max-width: 960px) {
        width: 490px;
        height: 55px;
      }

      @media screen and (max-width: 640px) {
        max-width: 540px;
        width: 100%;
        height: 50px;
      }
    }
    p {
      grid-area: text;
      margin-top: 20px;
      font-size: 15px;
      line-height: 1.55;
      @media screen and (max-width: 1200px) {
        font-size: 14px;
        line-height: 1.55;
      }

      @media screen and (max-width: 720px) {
        font-size: 12px;
      }
    }

    input {
      box-sizing: border-box;
      width: 189px;
      height: 55px;
      color: rgb(51, 51, 51);
      padding-left: 20px;
      border-radius: 15px;
      border: 1px solid #000000;
      font-size: 16px;
      line-height: 1.55;

      @media screen and (max-width: 1200px) {
        width: 109px;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 960px) {
        width: 490px;
        height: 55px;
      }

      @media screen and (max-width: 640px) {
        max-width: 540px;
        width: 100%;
        height: 50px;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 580px;
      box-sizing: border-box;
      column-gap: 10px;
    }
    @media screen and (max-width: 960px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-width: 640px) {
      padding: 30px 20px 45px;
      max-width: 620px;
      width: 90%;
    }
  }

  .input-wrapper {
    width: 215px;
    @media screen and (max-width: 1200px) {
      width: 150px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 960px) {
      width: 490px;
      height: 55px;
    }

    @media screen and (max-width: 640px) {
      max-width: 540px;
      width: 100%;
      height: 50px;
    }
  }

  .iti__flag-container {
    font-size: 16px;
    background-color: inherit;
  }

  .error-message {
    display: none;
    color: white;
    width: 670px;
    height: 71px;
    background: #f95d51;
    padding: 0.5rem;
    border-radius: 0 0 4px 4px;
    font-size: 0.9rem;
    margin-top: 10px;

    width: 670px;
    height: 71px;
    grid-area: error-footer;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
