.header {
  max-width: 1200px;
  width: 80%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ebebeb;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  white-space: nowrap;
  word-break: normal;
  border-style: solid;
  color: #4b4b4f;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 1.35;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.98;
  border-color: transparent;
  border-style: solid;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;

  z-index: 100; /* Поднимаем выше других элементов */
  overflow: visible; 
  &__logo-cont {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 10px;
    font-size: inherit;
    opacity: 0.9;
    font-size: 1.1em;
    font-weight: 500;
  }
  &__btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    color: #26262b;
    font-size: 0.9em;
    font-family: 'Gilroy', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    border-radius: 15px;
    background-color: #f6d700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    max-height: 35px;
    width: 180px;
    height: 40px;
  }

  &__burger-btn {
    margin-left: 40px;
  }

  @media (max-width: 1366px) {
    width: 1014px;
    margin: 0 auto;
    font-size: 0.8em;
    
 }
}

// @media screen and (max-width: 1420px) {
//   .header {
//     font-size: 1em;
//   }
