.header {
  max-width: 1200px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ebebeb;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  word-break: normal;
  border-style: solid;
  color: #26262b;
  font-family: 'Gilroy', Arial, sans-serif;
  line-height: 1.35;
  font-weight: 600;
  text-transform: uppercase;
  border-color: transparent;
  border-style: solid;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;

  z-index: 100;
  overflow: visible;
  &__logo-cont {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 25px;
    font-size: inherit;
    font-size: 1.1em;
    font-weight: 500;

    @media (max-width: 1255px) {
      margin-left: 0;
    }

    @media (max-width: 1024px) {
      margin-right: 20px;
    }

    @media (max-width: 640px) {
      width: 110px;
      font-size: 0.9em;
    }

    @media (max-width: 480px) {
      font-size: 0.7em;
      margin-left: 1%;
      margin-right: 2%;
      gap: 2%;
      width: auto;
    }

    img {
      width: 56px;
      max-width: none;

      @media (max-width: 640px) {
        width: 40px;
      }
    }
  }

  &__text-logo-link {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.8;
    letter-spacing: 0.5px;

    @media (max-width: 1255px) {
      font-size: 20px;
      line-height: 27px;
    }

    @media (max-width: 640px) {
      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
    }

    @media (max-width: 480px) {
      width: 40px;
      font-size: 11px;
      line-height: 15px;
      font-weight: 500;
    }
  }

  &__logo-link {
    width: 42px;
  }

  &__btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    color: #26262b;
    font-size: 19px;
    font-family: 'Gilroy', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    border-radius: 15px;
    background-color: #f6d700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    max-height: 35px;
    width: 180px;
    height: 40px;

    @media (max-width: 1255px) {
      margin-left: 5px;
    }

    @media (max-width: 1024px) {
      width: 170px;
      margin-left: 20px;
      font-size: 1.2em;
    }

    @media (max-width: 640px) {
      font-size: 1em;
      width: 160px;
      margin-left: 5px;
    }

    @media (max-width: 480px) {
      width: 84px;
      height: 40px;
      font-size: 0.8em;
      margin-left: 3%;
    }
  }

  &__burger-btn {
    margin-left: 30px;

    @media (max-width: 1255px) {
      margin-left: 5px;
    }

    @media (max-width: 1024px) {
      margin-left: 15px;
    }

    @media (max-width: 480px) {
      width: 35px;
      margin-left: 5px;
    }
  }

  @media (max-width: 1366px) {
    margin: 0 auto;
    font-size: 0.9em;
    overflow: hidden;
  }

  @media (max-width: 1333px) {
    width: 95%;
  }

  @media (max-width: 1255px) {
    width: 95%;
    justify-content: space-around;
  }

  @media (max-width: 1024px) {
    justify-content: space-around;
    font-size: 0.8em;
    width: 70%;
  }
  @media (max-width: 850px) {
    width: 90%;
  }

  @media (max-width: 720px) {
    width: 95%;
  }

  @media (max-width: 640px) {
    justify-content: space-around;
    padding: 10px 0;
  }

  @media (max-width: 480px) {
    justify-content: start;
    width: 320px;
  }
}
