.main-header-form {
  position: absolute;
  font-size: 16px;
  max-width: 600px;
  left: 600px;
  bottom: 70px;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'label-name label-phone button'
    'input-name input-phone button '
    'text text text';
  grid-auto-flow: row;
  z-index: 1099;

  .label-name {
    grid-area: label-name;
  }
  .input-name {
    grid-area: input-name;
  }
  .label-phone {
    grid-area: label-phone;
  }
  .input-phone {
    grid-area: input-phone;
  }
  .main-header-form__btn {
    grid-area: button;
    width: 170px;
    height: 50px;
    padding: 0 15px;
    background-color: #f6d700;
    border-radius: 15px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 18px;
    font-weight: 500;

    @media (max-width: 1366px) {
      width: 150px;
      height: 45px;
    }
  }
  .main-header-form__text {
    grid-area: text;
    font-size: 13px;
    margin-top: 20px;
  }

  input {
    box-sizing: border-box;
    width: 177px;
    height: 50px;
    background-color: #fff;
    color: rgb(51, 51, 51);
    padding-left: 20px;
    border-radius: 15px;

    @media (max-width: 1366px) {
      width: 157px;
      height: 45px;
    }
  }
  .iti__flag-container {
    color: rgb(51, 51, 51);
    background-color: inherit;
  }

  .input-wrapper {
    width: 177px;
  }

  @media (max-width: 1366px) {
    max-width: 504px;
    bottom: 30px;
    // left: 480px;
    column-gap: 10px;
    bottom: 50px;
    margin-left: 10%;
  }

    @media (max-width: 1024px) {
      bottom: 20px;
      left: 400px;
    }

}
