.page {
  font-family: 'Gilroy', Arial, sans-serif;
  margin: 0 auto;
  font-size: 20px;
  color: #26262b;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  &__modal {
    display: none;
  }

  @media (max-width: 1366px) {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  @media (max-width: 1024px) {
    // padding: 0 15px;
  }

  @media (max-width: 480px) {
    padding: 0;
  }
}
