.supply-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center;
    margin-bottom: 60px;

    @media screen and (max-width: 1024px) {
      column-gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6d700;
    width: 310px;
    padding: 0 25px;
    padding-top: 35px;
    text-align: center;
    height: 510px;

    @media screen and (max-width: 1024px) {
      width: 250px;
    }

    @media screen and (max-width: 960px) {
      width: 550px;
      height: 400px;
    }

    @media screen and (max-width: 768px) {
      width: 503px;
    }

    @media screen and (max-width: 480px) {
      width: 80%;
      height: 550px;
    }
  }

  &__img-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 25px;
    line-height: 1.35;
    font-weight: 401;
    margin-bottom: 30px;
    color: #000000;

    @media screen and (max-width: 1024px) {
      font-size: 22px;
    }

    @media screen and (max-width: 960px) {
      font-size: 25px;
      font-weight: 400;
    }
  }

  &__text:nth-of-type(1) {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
  }

  &__text:nth-of-type(2) {
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    height: 154px;
  }

  &__btn {
    width: 154px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #000000;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500;
    margin-top: auto;
    @media screen and (max-width: 960px) {
      height: 80px;
    }

    &:hover {
      color: #f6d700;
      background-color: #000000;
      transition-property: background-color, color, border-color, box-shadow;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }

    @media screen and (max-width: 480px) {
      height: 50px;
    }
  }

  & .social {
    margin-bottom: 50px;

    & .social-btn {
      width: 143px;

      @media screen and (max-width: 960px) {
        width: 293px;
      }

      @media screen and (max-width: 768px) {
        width: 264px;
      }

      @media screen and (max-width: 480px) {
        width: 133px;
        height: 48px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
