.supply-form {
  & .form {
    position: relative;
    &__title {
      font-weight: 400;
      grid-area: title;
      margin-bottom: 150px;

      @media (max-width: 768px) {
        margin-bottom: 60px;
      }

       @media (max-width: 480px) {
     margin-bottom: 110px;
      }
    }

    &__title-text {
      font-weight: 300;
      opacity: 0.5;
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 20px;
      padding-top: 0;
      padding-bottom: auto;
      position: absolute;
      top: 250px;
      margin-bottom: 50px;
      grid-area: text1;

      @media (max-width: 1024px) {
        width: 530px;
        font-size: 18px;
        top: 240px;
      }

      @media (max-width: 768px) {
        font-size: 0.7em;
        top: 200px;
        left: auto;
      }

      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 1.4;
        width: 240px;
        top: 270px;
        left: auto;
      }
      @media (max-width: 480px) {
      }
    }
  }

  .form__form {
    @media (max-width: 480px) {
      height: 700px;

    }
  }
}
